[Unit]
Description=OpenSY DNS Seeder
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/opensy-seeder
ExecStart=/opt/opensy-seeder/dnsseed -h seed.opensy.net -n ns1.opensy.net -m admin@opensy.net -p 5353 -s 157.175.40.131
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
